* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-image: url(https://www.yucata.de/netimages/games/StoneAge/spielplan.jpg);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: none;
    width: 100%;
    height: 90vh;
    gap: 5px;
}

.left-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 1;
    height: 100%;
    margin: 10px;
    backdrop-filter: blur(2px);
    background: #0000004e;
}

.left-container .dice {
    aspect-ratio: 1/1;
    width: 100%;
    border: 2px solid #fffbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: none;
    cursor: pointer;
}

.left-container .dice:hover {
    background: rgb(255, 166, 0);
}

.left-container .d8 {
    background: #323cf8;
}
.left-container .d8:hover {
    background: #569cff;
}
.right-container {
    margin: 10px 10px 0 0px;
    display: flex;
    height: 100%;
    flex: 9;
    flex-direction: column;
    gap: 5px;
}

.supply-container {
    backdrop-filter: blur(2px);
    background: #0000004e;
    flex: 5;
    display: flex;
    justify-content: space-around;
    border: 2px solid #ffffff;
}

.supply-container div {
    flex: 1;
}
.supply-container div img {
    aspect-ratio: 1/1;
    width: 90%;
}

.supply-container div p {
    font-size: 2.5vw;
    text-align: center;
    padding-bottom: 10%;
}

.dice-point-container {
    flex: 3;
    display: flex;
    backdrop-filter: blur(2px);
    background: #0000004e;
}


.dice-point-container div {
    border: 2px solid #000000;
    flex: 1;
    display: flex;
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
}

.dice-point-container .dice-point-total {
    color: white;
    background: rgb(31, 118, 0);
}
.score-container {
    flex: 4;
    border: 1px solid #ffffff;
    display: flex;
    backdrop-filter: blur(2px);
    background: #0000004e;
}

.score-container div {
    border: 1px solid #ffffff;
    flex: 1;
    flex-direction: column;
    font-size: 2vw;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: start;
}

.score-container div .text {
    margin: 20px 0 10px 0;
}

.score-container div .score {
    margin: 0 0 10px 0;
}

.score-container div input {
    border: 1px solid #ffffff;
    margin: 5px 0;
    height: 20%;
    width: 30%;
    text-align: center;
    font-size: 1vw;
    color: rgb(0, 0, 0);
}

.score-container div button {
    width: 12%;
    height: 16%;
    background: white;
    border: none  ;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    backdrop-filter: blur(3px);
    background: #0000004e;
}

.form .player {
    width: 50%;
    display: flex;
    justify-content: center;
}

.form .player input {
    width: 70%;
    border: none;
    padding: 10px;
}

.form .player .color {
    width: 7%;
    height: 100%;
}

.color-container {
    width: 23%;
    display: flex;
}
.color-options {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-left: 5px;
}

.color-options .color-circle {
    flex: 1;
    border-radius: 50%;
}

.text-form {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.yellow {
    color: rgb(221, 210, 0);
}

.start-btn {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none  ;
    width: 7%;
    background: orange;
    font-size: 1vw;
}

.start-btn:hover {
    background: rgb(255, 188, 64);
}