.scoreContainer {
    flex: 4;
    border: 1px solid #ffffff;
    display: flex;
    background: rgba(0, 0, 0, 0.3);
}

.playerScoreBox {
    border: 1px solid #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.playerName {
    font-size: 1.5vw;
    margin-bottom: 5px;
}

.currentScore {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 10px;
}

.scoreInput {
    width: 60%;
    text-align: center;
    color: black;
}

/* สีชื่อผู้เล่นตามที่เลือก */
.red { color: red; }
.blue { color: blue; }
.green { color: green; }
.yellow { color: #ddd200; }